body {
  background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/woven.png");
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.simon-board{
  margin: 0 auto;
  margin-top: 50px;
  border: solid 10px black;
  width: 600px;
  height: 600px;
  border-radius: 600px;
  box-shadow: 8px 8px 15px 5px #888888;
}

.pad {
  margin: 0;
  float: left;
  position: relative;
  width: 290px;
  height: 290px;
  z-index: 8;
  border: 5px solid black;
}

.green {
    background-color:#0a0;
    -moz-border-radius: 300px 0 0 0;
    border-radius: 300px 0 0 0;    
}

.green-active {
  background-color: darkgreen !important;
}

.red {
  background-color: red;
  -moz-border-radius: 0 300px 0 0;
  border-radius: 0 300px 0 0;
}

.red-active {
  background-color: darkred !important;
}

.yellow {
  background-color: yellow;
  -moz-border-radius: 0 0 0 300px;
  border-radius: 0 0 0 300px;
}

.yellow-active {
  background-color: #e6d47e !important;
}

.blue {
  background-color: blue;
  -moz-border-radius: 0 0 300px 0;
  border-radius: 0 0 300px 0;
}

.blue-active {
  background-color: darkblue !important;
}

.board-controls {
  border: 15px solid black;
  height: 245px;
  width: 245px;
  border-radius: 150px;
  background-color: #494646;
  clear: both;
  position: absolute;
  z-index: 10;
  margin-top: 160px;
  margin-left: 160px;
}

.title {
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.display {  
  border: solid 2px black;
  border-radius: 10px;
  color: white;
  width: 60px;
  height: 45px;
  font-size: 40px;
  background-color: #342626;
}