body {
  background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/woven.png");
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.outer-circle {
  margin: 0 auto;
  margin-top: 50px;
  border: solid 10px black;
  width: 600px;
  height: 600px;
  border-radius: 600px;
  box-shadow: 8px 8px 15px 5px #888888;
}

.pad {
  margin: 0;
  float: left;
  position: relative;
  width: 290px;
  height: 290px;
  z-index: 8;
  border: 5px solid black;
}